.quickcheckoutleft {
	width: 100%;
}
.quickcheckoutright {
	width: 100%;
}
.quickcheckoutmid {
	width: 100%;
}
#quickcheckoutconfirm .col-sm-6 {
	width: 100% !important;
}
#cart1 {
	padding-top: 0px;
}
table.quickcheckout-cart {
	overflow: auto;
}
.quickcheckout-cart td.image img {
	width: 30px;
	height: auto;
}
.quickcheckout-content {
    /* border: 1px solid #dddddd; */
    /* padding: 10px; */
    overflow: auto;
    margin-bottom: 10px;
}
.quickcheckout-content .col-sm-6 {
    padding: 0px;
}
.quickcheckout-content label {
    font-size: 14px;
    font-weight: bold;
}
#quickcheckoutconfirm input {
    /*font-size: 16px;*/
    color: #0087ca;
    font-weight: bold;
}
#quickcheckoutconfirm input[type="radio"] {
    -webkit-appearance: radio;
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
    /*margin: 10px 0 0;*/
    /*padding: 10px;*/
}
#quickcheckoutconfirm input[type="checkbox"] {
    -webkit-appearance: checkbox;
    /* -webkit-appearance: radio; */
    transform: scale(1.7);
    /* opacity: 1; */
    cursor: pointer;
    margin: 0px;
    /* padding: 10px; */
}
#cart1 .quickcheckout-content {
    font-size: 14px;
}
div#cart1 p {
    color: green;
    font-size: 14px;
    font-weight: bold;
}
.quickcheckout-heading {
    background: #d6d6d6;
    font-size: 14px;
    font-weight: bold;
}
/*.quickcheckout-content label[type="checkbox"] {
    font-size: 20px;
    font-weight: bold;
    color: #2096c2;
}
*/
#modal-agree button.close {
    float: right;
    font-size: 55px;
    font-weight: 700;
    line-height: 0;
    color: #ec1414;
    text-shadow: 0 0px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 10;
    padding: 2px;
}
/*.close {
    float: right;
    font-size: 55px;
    font-weight: 700;
   
    color: #ec1414;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    
}*/
.navbar-fixed-bottom {
    
    margin-bottom: 0;
    
    /* margin-bottom: 10px; */
}
#cart {
    margin-bottom: 0px;
}